# Dependency directories
**/node_modules/

# Build outputs
**/dist/
**/.angular/

# Editor & System files
.vscode/
.DS_Store
Thumbs.db

# Environment and Logs
.env
*.log

# Source maps (the 1K files you see)
**/*.js.map
**/*.metadata.json