 <mat-nav-list>
      <h3 mat-subheader>Navigation</h3>
      <a mat-list-item routerLink="/products" routerLinkActive="active-link">
        <mat-icon matListItemIcon>store</mat-icon>
        <span matListItemTitle>Products</span>
      </a>
      <a mat-list-item routerLink="/cart" routerLinkActive="active-link">
        <mat-icon matListItemIcon>shopping_cart</mat-icon>
        <span matListItemTitle>Cart</span>
      </a>
      <a mat-list-item routerLink="/orders" routerLinkActive="active-link">
        <mat-icon matListItemIcon>list_alt</mat-icon>
        <span matListItemTitle>My Orders</span>
      </a>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>

      <mat-divider></mat-divider>
      <h3 mat-subheader>Categories</h3>
      <a mat-list-item
         *ngFor="let cat of categories"
         [routerLink]="['/products']"
         [queryParams]="{category: cat._id}">
        <mat-icon matListItemIcon>label</mat-icon>
        <span matListItemTitle>{{ cat.name }}</span>
      </a>
    </mat-nav-list>